
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    background-color: grey;
    color: #f4f4f9;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #313151;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
  }
  
  input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  button {
    background-color: #5a67d8;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4c51bf;
  }
  
  
  #resume-preview {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #resume-preview h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  #resume-content {
    font-size: 0.9em;
    color: #555;
  }
  
  #resume-content h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  #resume-content h4 {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
  }
  
  #resume-content p {
    margin-top: 10px;
  }
  
  #resume-content hr {
    margin: 20px 0;
    border: 1px solid #ddd;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  